/* Footer */
.footer {
    margin-top: 75px;
    background-color: #6BD5D5;
    text-align: center;
    padding: 20px;
    position: relative;
    border-top: 21px solid #2B5555;
}

.footer__text {
    font-family: "Inria Sans";
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color: black;
    text-align: left;
    margin-top: 52px;
}

.footer__item {
    color: #000;
    font-family: "Josefin Sans";
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-align: left;
    margin-top: 15px;
}

.footer__logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}