.main__titre {
    font-family: var(--heading, Jaro);
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main__texte {
    font-family: var(--body, "Josefin Sans");
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.main__texte-accueil {
    font-family: var(--body, "Josefin Sans");
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.main__citation {
    font-family: var(--body, "Josefin Sans");
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.main__intro {
    font-family: var(--body, "Josefin Sans");
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main__legende {
    font-family: var(--body, "Josefin Sans");
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: -10px;
    margin-bottom: 30px;
}

.main__lien {
    font-family: var(--body, "Josefin Sans");
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    color: var(--violet, #8000FF);
}

.main__lien2 {
    font-family: var(--body, "Josefin Sans");
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    color: var(--violet, #8000FF);
}

.main__sous-titre {
    font-family: var(--body, "Josefin Sans");
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 50px;
}

.main__petit-texte {
    font-family: var(--body, "Josefin Sans");
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.section__bar {
    width: 34px;
    height: 121px;
    flex-shrink: 0;
    background-color: #A1DCC3;
    margin-right: 10px;
    z-index: 1;
}

.section__text {
    margin-left: 5%;
    margin-right: 2%;
}

.phrise-chronologique {
    margin-left: -45%;
}


.main__image {
    width: 100%;
    max-height: 300px;
    margin-bottom: 15px;
}

.main__projets {
    margin-top: 50px;
}